body {
  background-color: #F7F6F6;
  text-align: left;
  padding-top: 50px;
  padding-left: 30px;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  font-weight: bolder;
  color: #31BA55;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #162244;
  line-height: 1.2;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #687089;
  line-height: 1.2;
}

li {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #687089;
  line-height: 1.2;
}

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}